@charset "utf-8";
/* CSS Document */
/**
 * Copyright(C), Spaceflight Technology Co., Ltd.
 * FileName: page.css
 * Author: hujiqiang QQ:2873660121 
 * Update: hujiqiang QQ:2873660121 
 * Description: CSS Reset & Public Components
*/
/*1100分辨率（大于960px，小于1199px）*/
@media screen and (min-width: 960px) and (max-width: 1199px) {
/*public*/
.header{ display: none;}
.header-wap{ display: block;}
.ins-wrap{ top: 0;}
.about{ padding: 20px 0;}
.m-ins-navbox{ display: block;}
.leftBody,.leftBody-1{ display: none;}
.footer{ padding-top: 20px;}
.footer > .m-wrap .topbar{ display: none;}
.m-band{ padding:0 1%; border-bottom:1px solid #0a0713; padding-bottom:15px; margin-top: 2rem;}
/*public end*/


.banner{ display: none;}
.wap-banner{ display: block;}
.i-box-1{ width: 100%; height:844px; background: url(../images/i-box-1-bg.jpg) no-repeat center top; background-size: cover; margin-top: -52px;}
.i-box-1 .bd{ width: 100%;overflow: hidden;}
.i-box-1 .bd li{ float: left; width: 19.85%; border: 1px solid #7d7d7d; min-height: 515px; border-right: 0;}


.about{ padding: 20px 0;}
.ringhtInfo{ width: 96%; padding: 2%;}
.about-yw{ width: 100%;}
.about-ceo{ padding-top: 40px;}
.about-ceo .img{float: none; width: 100%; text-align: center;}
.about-ceo .img img{ width: 100%; display: block;}
.about-ceo .txt{ float: none; width: 100%;}

.about-js{ padding-top: 40px;}
.about-js .img{ float: none; width: 100%;}
.about-js .img img{ width: 100%; display: block;}
.about-js .txt{ float: none; width: 100%; }
.about-js .txt dl dt{ padding-top: 20px;}
.about-js-img{ width: 100%; overflow: hidden;}
.about-js-img img{ display: block; width: 100%;}
.about-js-scroll{ display: none;}

.about-qy-03{ padding-top: 38px;}
.about-qy-03 .fimg{ float: none; width: 100%;}
.about-qy-03 .fimg > img{width: 100%; display: inline-block;}
.about-qy-03 .txtList{ width: 100%;}
.about-qy-03 .txtList .list{ float: none; width: 100%; padding-top: 30px; margin-top: 30px;}
.about-qy-03 .txtList .list dl{ width: 75%;}

.about-ser-03{ padding-top: 15px; background-color: white; width: 100%;}
.about-ser-03 h1{ padding-left: 2%; font-size: 20px; color: #333; line-height: 45px; border-bottom: 1px solid #000; position: relative;}
.about-ser-03 h1:after{ content: ''; width: 4px; height: 19px; background-color: #008bbc; position: absolute; top: 50%; left:0; margin-top: -9px;}
.about-ser-03 .img{ width: 100%; padding: 40px 0;}
.about-ser-03 .img img{ width: 100%; display: block;}

.about-yw .imginf{ width: 90%; padding: 5%; background: url(../images/imginf-bg.jpg) no-repeat;}
.about-yw .imginf .img-l{display: none;}
.about-yw .imginf .tel-txt{ float: none; width: 100%;}

.dtable{ padding: 0;}
.m-article,.m-page-2{ padding: 0 2%;}

.jr-list{ width: 100%; padding-top: 2rem;}
.jr-list li{ float: left;width: 100%; padding-bottom: 50px;}
.jr-list li .num{ width: 66px; height: 79px; line-height: 79px; text-align: center; font-size: 48px; color: white; background: url(../images/bg-03.jpg) no-repeat; background-size: cover;}
.jr-list li .list-t{ width: 70%;}

.newsList{ width: 100%;}
.newsList li .listDl{ width: 77%;}
.newsList li .listDl dt > a{ width:40%; height:30px; line-height:30px; overflow:hidden; display:inline-block; font-size:1rem; color:#333;}
.newsList li .listDl dt > a:hover{ color:#1596c6;}
.newsList li .listDl dd{ font-size:14px; color:#777; padding-top:5px;}

.news-zk-img{ width:100%;}
.news-zk-img > img{ width:100%; display:block;}
.news-zkList{ width:100%; overflow: hidden;}
.news-zkList ul{ width: 100%;}
.news-zkList li{ float:left; width:48%;border-bottom:1px solid #eee; padding:3% 0 3% 0; margin-right: 30px;}
.news-zkList li .listDl{ width:60%;}

.i-box-2{ width: 96%; padding: 0 2%; height:782px; background: url(../images/i-box-2-bg.jpg) no-repeat center top; background-size: cover;}
.i-box-2 .u-title h1{ color:white;}
.i-box-2 .u-title p{ color: #c8c8c8; width: 100%; margin: 0 auto;}

.i-box-3{ width: 100%; height:718px; background: url(../images/i-box-3-bg.jpg) no-repeat center top; background-size: cover;}
.i-box-3 .bd li{ float: left; width: 320px; height: 140px; margin: 3% 3% 0 0; color: #bbb; background-color: #484f59;}

.i-box-4{ width: 100%; height:auto; padding-bottom: 100px; background: url(../images/i-box-4-bg.jpg) no-repeat center top; background-size: cover;}
.i-box-4 .bd{ width: 100%;}
.shList-n{ width: 100%; display: none;}
.news-left-list li a.f-fr{width: 50%; height: 70px; overflow: hidden;font-size: 14px; color: #666; display: inline-block; line-height: 25px;}
.about-js-scroll{ display:block;}
.about-js-scroll-wap{ display: none;}

.i-box-5{ width: 96%; padding: 0 2%; height: auto; padding-bottom: 100px; background: url(../images/i-box-5-bg.jpg) no-repeat center top; background-size: cover;}
.i-box-5 .u-title h1{ color:white;}
.i-box-5 .u-title p{ color: #d6dcfe; width: 100%;}
.i-box-5 .bd{ width: 100%; margin: 40px auto 0;}
.i-box-5 .bd dl{ float:none; width: 100%; padding-top: 2rem;}
.i-box-5 .bd dl dt{ color: #11b8ff; font-size: 20px; position:initial; padding-bottom: 12px; text-indent: 0; background:none}
.i-box-5 .bd dl dt:after{ content: ''; width: 0px; height: 18px; background-color: #11b8ff; position: absolute; top: 5%; left: 22%;}
.i-box-5 .bd dl dd{ padding-left: 8%; color: white; color: #d6dcfe; line-height: 25px;}
.i-box-5 .bd dl.pa-1{ margin-top: 0;}
.i-box-5 .bd dl.pa-2{ margin-top: 0px;}
.i-box-5 .bd dl.pa-3{ margin-top: 0px;}
.i-box-5 .bd dl.pa-4{ margin-top: 0px;}
.i-box-5 .bd dl.pa-5{ margin-top: 0px;}
.i-box-5 .bd dl.pa-6{ margin-top: 0;} 

.i-box-6{ width: 100%;}
.i-box-6 .bd{ width: 100%; margin: 0 auto; padding: 75px 0 75px;}
.i-box-6 .bd ul{ width: 100%;}
.i-box-6 .bd li{ float: left; width: 19.9%; max-height: 120px; overflow: hidden; border-right: 1px dotted #ddd;}
.i-box-6 .bd li a{ display: inline-block; width: 100%; overflow: hidden;}
.i-box-6 .bd li img{ display: block; max-width: 100%;
-webkit-transition: all 0s ease-out;
   -moz-transition: all 0s ease-out;
    -ms-transition: all 0s ease-out;
        transition: all 0s ease-out;}
.i-box-6 .bd li a:hover img{
-webkit-transform: scale(1);
   -moz-transform: scale(1);
    -ms-transform: scale(1);
        transform: scale(1);}

.i-box-6 .bd li:nth-child(1),
.i-box-6 .bd li:nth-child(2),
.i-box-6 .bd li:nth-child(3),
.i-box-6 .bd li:nth-child(4),
.i-box-6 .bd li:nth-child(5){border-bottom: 1px dotted #ddd;}
.i-box-6 .bd li:nth-child(5),
.i-box-6 .bd li:nth-child(10){ border-right: 0;}



}
@media screen and (min-width: 770px) and (max-width: 959px) {
/*public*/
.header{ display: none;}
.header-wap{ display: block;}
.ins-wrap{ top: 0;}
.m-ins-navbox{ display: block;}
.leftBody,.leftBody-1{ display: none;}
.footer{ padding-top: 20px;}
.footer > .m-wrap .topbar{ display: none;}

/*public end*/

.banner{ display: none;}
.wap-banner{ display: block;}
.i-box-1{ width: 100%; height:844px; background: url(../images/i-box-1-bg.jpg) no-repeat center top; background-size: cover; margin-top: -52px;}
.i-box-1 .bd{ width: 100%;overflow: hidden;}
.i-box-1 .bd li{ float: left; width: 19.80%; border: 1px solid #7d7d7d; min-height: 515px; border-right: 0;}
.i-box-1 .bd li dl dt{ font-size: 15px; line-height: 30px; height: 85px; color: #000; font-weight: 600; text-align: center; position: relative; margin-bottom: 25px;}

.about{ padding: 20px 0;}
.ringhtInfo{ width: 96%; padding: 2%;}
.about-yw{ width: 100%;}
.about-ceo{ padding-top: 40px;}
.about-ceo .img{float: none; width: 100%; text-align: center;}
.about-ceo .img img{ width: 100%; display: block;}
.about-ceo .txt{ float: none; width: 100%;}

.about-js{ padding-top: 40px;}
.about-js .img{ float: none; width: 100%;}
.about-js .img img{ width: 100%; display: block;}
.about-js .txt{ float: none; width: 100%; }
.about-js .txt dl dt{ padding-top: 20px;}
.about-js-img{ width: 100%; overflow: hidden;}
.about-js-img img{ display: block; width: 100%;}
.about-js-scroll{ display: none;}

.about-qy-03{ padding-top: 38px;}
.about-qy-03 .fimg{ float: none; width: 100%;}
.about-qy-03 .fimg > img{width: 100%; display: inline-block;}
.about-qy-03 .txtList{ width: 100%;}
.about-qy-03 .txtList .list{ float: none; width: 100%; padding-top: 30px; margin-top: 30px;}
.about-qy-03 .txtList .list dl{ width: 75%;}

.about-ser-03{ padding-top: 15px; background-color: white; width: 100%;}
.about-ser-03 h1{ padding-left: 2%; font-size: 20px; color: #333; line-height: 45px; border-bottom: 1px solid #000; position: relative;}
.about-ser-03 h1:after{ content: ''; width: 4px; height: 19px; background-color: #008bbc; position: absolute; top: 50%; left:0; margin-top: -9px;}
.about-ser-03 .img{ width: 100%; padding: 40px 0;}
.about-ser-03 .img img{ width: 100%; display: block;}

.about-yw .imginf{ width: 90%; padding: 5%; background: url(../images/imginf-bg.jpg) no-repeat;}
.about-yw .imginf .img-l{display: none;}
.about-yw .imginf .tel-txt{ float: none; width: 100%;}

.dtable{ padding: 0;}
.m-article,.m-page-2{ padding: 0 2%;}

.about-js-scroll{ display: none;}
.about-js-scroll-wap{ display: block;}

.jr-list{ width: 100%; padding-top: 2rem;}
.jr-list li{ float: left;width: 100%; padding-bottom: 50px;}
.jr-list li .num{ width: 66px; height: 79px; line-height: 79px; text-align: center; font-size: 48px; color: white; background: url(../images/bg-03.jpg) no-repeat; background-size: cover;}
.jr-list li .list-t{ width: 70%;}

.newsList{ width: 100%;}
.newsList li .listDl{ width: 70%;}
.newsList li .listDl dt > a{ width:40%; height:30px; line-height:30px; overflow:hidden; display:inline-block; font-size:1rem; color:#333;}
.newsList li .listDl dt > a:hover{ color:#1596c6;}
.newsList li .listDl dd{ font-size:14px; color:#777; padding-top:5px;}

.news-zk-img{ width:100%;}
.news-zk-img > img{ width:100%; display:block;}
.news-zkList{ width:100%; overflow: hidden;}
.news-zkList ul{ width: 100%;}
.news-zkList li{ float:left; width:48%;border-bottom:1px solid #eee; padding:3% 0 3% 0; margin-right: 30px;}
.news-zkList li .listDl{ width:50%;}


.xf-box-3 .bd li .txt{ width: 55%; line-height: 75px; font-size: 18px; color: #333;}

.i-box-2{ width: 96%; padding: 0 2%; height:782px; background: url(../images/i-box-2-bg.jpg) no-repeat center top; background-size: cover;}
.i-box-2 .u-title h1{ color:white;}
.i-box-2 .u-title p{ color: #c8c8c8; width: 100%; margin: 0 auto;}

.i-box-3{ width: 100%; height:718px; background: url(../images/i-box-3-bg.jpg) no-repeat center top; background-size: cover;}
.i-box-3 .u-title h1{ color:#333;}
.i-box-3 .u-title p{ color: #444;}
.i-box-3 .bd{ width: 1040px; margin: 0 auto; overflow: hidden;}
.i-box-3 .bd ul{ width: 110%;}
.i-box-3 .bd li{ float: left; width: 310px; height: 140px; margin: 0.5% 0.5% 0 0; color: #bbb; background-color: #484f59;}
.i-box-3 .bd .rtxt{ width: 210px; padding-top: 20px;}

.i-box-4{ width: 100%; height:auto; padding-bottom: 100px; background: url(../images/i-box-4-bg.jpg) no-repeat center top; background-size: cover;}
.i-box-4 .bd{ width: 100%;}
.shList-n{ width: 100%; display: none;}
.news-next{ width: 96%; background-color: white; padding: 2%;}
.news-left{ width: 30%;}
.news-left h1{ font-size: 34px; color: #222;}
.news-left h1 a{ font-size: 12px; display:inline-block; margin-top: 20px;}
.news-left-list{ width: 100%; padding-top: 10px;}
.news-left-list li{ width: 100%; border-bottom: 1px dashed #e7e7e7; padding: 15px 0;}
.news-left-list li:last-child{ border-bottom: 0;}
.news-left-list li a.f-fl{ width: 125px;}
.news-left-list li a.f-fl img{ width: 125px; height: 70px; display:block;}
.news-left-list li a.f-fr{width: 40%; height: 70px; overflow: hidden; font-size: 14px; color: #666; display: inline-block;  line-height: 25px;}
.news-left-list li a.f-fr:hover{ color: #1596c6;}
.news-tapbd .tabinfo{ width: 45%; padding-top: 15px;}
.news-tapbd .tabinfo h1 font{ color: #333; font-size: 14px; display: none;}
.m-tList li{ height:25px; line-height: 25px; border-top:1px dotted #e7e7e7; color:#333; font-size:13px; padding: 5px 0;}
.m-tList li a{overflow:hidden;width:50%;height:25px; line-height:25px;text-overflow:ellipsis;white-space:nowrap;color:#333; display: inline-block;}

.i-box-5{ width: 96%; padding: 0 2%; height: auto; padding-bottom: 100px; background: url(../images/i-box-5-bg.jpg) no-repeat center top; background-size: cover;}
.i-box-5 .u-title h1{ color:white;}
.i-box-5 .u-title p{ color: #d6dcfe; width: 100%;}
.i-box-5 .bd{ width: 100%; margin: 40px auto 0;}
.i-box-5 .bd dl{ float:none; width: 100%; padding-top: 2rem;}
.i-box-5 .bd dl dt{ color: #11b8ff; font-size: 20px; position:initial; padding-bottom: 12px; text-indent: 0; background:none}
.i-box-5 .bd dl dt:after{ content: ''; width: 0px; height: 18px; background-color: #11b8ff; position: absolute; top: 5%; left: 22%;}
.i-box-5 .bd dl dd{ padding-left: 8%; color: white; color: #d6dcfe; line-height: 25px;}
.i-box-5 .bd dl.pa-1{ margin-top: 0;}
.i-box-5 .bd dl.pa-2{ margin-top: 0px;}
.i-box-5 .bd dl.pa-3{ margin-top: 0px;}
.i-box-5 .bd dl.pa-4{ margin-top: 0px;}
.i-box-5 .bd dl.pa-5{ margin-top: 0px;}
.i-box-5 .bd dl.pa-6{ margin-top: 0;} 

.i-box-6{ width: 100%;}
.i-box-6 .bd{ width: 100%; margin: 0 auto; padding: 75px 0 75px;}
.i-box-6 .bd ul{ width: 100%;}
.i-box-6 .bd li{ float: left; width: 19.8%; max-height: 95px; overflow: hidden; border-right: 1px dotted #ddd;}
.i-box-6 .bd li a{ display: inline-block; width: 100%; overflow: hidden;}
.i-box-6 .bd li img{ display: block; max-width: 100%;
-webkit-transition: all 0s ease-out;
   -moz-transition: all 0s ease-out;
    -ms-transition: all 0s ease-out;
        transition: all 0s ease-out;}
.i-box-6 .bd li a:hover img{
-webkit-transform: scale(1);
   -moz-transform: scale(1);
    -ms-transform: scale(1);
        transform: scale(1);}

.i-box-6 .bd li:nth-child(1),
.i-box-6 .bd li:nth-child(2),
.i-box-6 .bd li:nth-child(3),
.i-box-6 .bd li:nth-child(4),
.i-box-6 .bd li:nth-child(5){border-bottom: 1px dotted #ddd;}
.i-box-6 .bd li:nth-child(5),
.i-box-6 .bd li:nth-child(10){ border-right: 0;}

.xd-box-3{ width:100%; margin-top:120px;}
.xd-box-3 .bd{ width: 100%;}
.xd-box-3 .bd .box-list{ width: 100%;background-color: #39a6e2; margin-top: 35px;}
.xd-box-3 .bd .box-list .txt{ width: 35%; position: relative; display: none;}
.xd-box-3 .bd .box-list .txt .t{ font-size: 16px; color: white; text-align: center; line-height: 25px; position:absolute; top: 30px; left: 18%;}
.xd-box-3 .bd .box-list .list-r{ width: 96%; padding: 2%; background-color: #39a6e2;}

.xd-box-5{ width:100%; margin-top:35px;}
.xd-box-5 .bd .list-b li dl dt{ font-size: 16px; font-weight: 600; padding-bottom: 10px; color: #999;}

.xd-box-6{ width:100%; margin-top:35px;}
.xd-box-6 .bd{ width: 100%;}
.xd-box-6 .bd li{ float: left; width: 35%; padding: 40px 0;}
.xd-box-6 .bd li:last-child{ margin-left: 30%;}
.xd-box-6 .bd li .txt{ border: 1px solid #999; font-size: 18px; padding: 10px;}
.xd-box-6 .bd li dl{ width: 75%;}
.xd-box-6 .bd li dl dd{ font-size: 14px; color: #999; line-height: 30px; text-indent: 10px;}
}


/*720分辨率（大于480px，小于767px）*/
@media screen and (min-width: 480px) and (max-width: 767px){
/*public*/
.header{ display: none;}
.header-wap{ height: 56px; background:url(../images/h-wap-bg720.png) no-repeat center; display: block;}
.ins-wrap{ top: 0;}
.about{ padding: 20px 0;}
.m-ins-navbox{ display: block;}
.leftBody,.leftBody-1{ display: none;}
.footer{ padding-top: 20px;}
.footer > .m-wrap .topbar{ display: none;}
/*public end*/
.banner{ display: none;}
.wap-banner{ display: block;}

.i-box-1{ width: 96%; height: auto; padding: 0 2% 20px; background: url(../images/i-box-1-bg.jpg) no-repeat center top; background-size: cover; margin-top: -52px;}
.i-box-1 .bd{ width: 100%;overflow: hidden;}
.i-box-1 .bd li{ float: left; width: 99%; border: 1px solid #7d7d7d; min-height: 515px; border-right: 0;}
.i-box-1 .bd li{border-right: 1px solid #7d7d7d;}
.i-box-1 .bd li .img{ width: 30%; margin: 75px auto 0;}
.i-box-1 .bd li .img img{ width: 100%; display: block;}
.i-box-1 .bd li dl{ width: 80%; margin: 150px auto 0; }
.i-box-1 .bd li dl dt{ font-size: 22px; line-height: 30px; height: 85px; color: #000; font-weight: 600; text-align: center; position: relative; margin-bottom: 25px;}
.i-box-1 .bd li dl dt:after{ content: ''; width: 55px; height: 1px; background-color: #b5b5b5; position: absolute; left: 50%; bottom: 0; margin-left: -25px;}
.i-box-1 .bd li dl dd{ font-size: 14px; color: #333; line-height: 25px;}

.i-box-1 .bd li:nth-child(1)  dl dt{ line-height: 85px;}
.i-box-1 .bd li:nth-child(2)  dl dt{ line-height: 85px;}
.i-box-1 .bd li p{ text-align: center; display: none; padding-top: 10px;}
.i-box-1 .bd li p a{ border: 1px solid white; padding: 5px 20px; display: inline-block; color: white; border-radius: 15px; font-size: 14px;}
.i-box-1 .bd li .img-2{ width: 100%; display: none;}
.i-box-1 .bd li .img-2 img{ width: 100%; display: block;}
.i-box-1 .bd li:hover .img{ display: none;}
.i-box-1 .bd li:hover .img-2,
.i-box-1 .bd li:hover p{ display: block;}
.i-box-1 .bd li:hover{ color:white; background-color: #029ed2;}
.i-box-1 .bd li:hover dl dt,
.i-box-1 .bd li:hover dl dd{ color: white;}
.i-box-1 .bd li:hover dl dt:after{ content: ''; width: 55px; height: 1px; background-color: white; position: absolute; left: 50%; bottom: 0; margin-left: -25px;}


.about{ padding: 20px 0;}
.ringhtInfo{ width: 94%; padding: 3%;}
.about-yw{ width: 100%;}
.about-ceo{ padding-top: 40px;}
.about-ceo .img{float: none; width: 100%; text-align: center;}
.about-ceo .img img{ width: 100%; display: block;}
.about-ceo .txt{ float: none; width: 100%;}

.about-js{ padding-top: 40px;}
.about-js .img{ float: none; width: 100%;}
.about-js .img img{ width: 100%; display: block;}
.about-js .txt{ float: none; width: 100%; }
.about-js .txt dl dt{ padding-top: 20px;}
.about-js-img{ width: 100%; overflow: hidden;}
.about-js-img img{ display: block; width: 100%;}
.about-js-scroll{ display: none;}
.about-js-scroll-wap{ display: block;}


.about-qy-03{ padding-top: 38px;}
.about-qy-03 .fimg{ float: none; width: 100%;}
.about-qy-03 .fimg > img{width: 100%; display: inline-block;}
.about-qy-03 .txtList{ width: 100%;}
.about-qy-03 .txtList .list{ float: none; width: 100%; padding-top: 30px; margin-top: 30px;}
.about-qy-03 .txtList .list dl{ width: 75%;}

.about-ser-03{ padding-top: 15px; background-color: white; width: 100%;}
.about-ser-03 h1{ padding-left: 2%; font-size: 20px; color: #333; line-height: 45px; border-bottom: 1px solid #000; position: relative;}
.about-ser-03 h1:after{ content: ''; width: 4px; height: 19px; background-color: #008bbc; position: absolute; top: 50%; left:0; margin-top: -9px;}
.about-ser-03 .img{ width: 100%; padding: 40px 0;}
.about-ser-03 .img img{ width: 100%; display: block;}

.about-yw .imginf{ width: 90%; padding: 5%; background: url(../images/imginf-bg.jpg) no-repeat;}
.about-yw .imginf .img-l{display: none;}
.about-yw .imginf .tel-txt{ float: none; width: 100%;}
.about-yw .imginf .tel-txt{ float: none; width: 100%;}
.about-yw .imginf .tel-txt p{ font-size: 12px; color: white; line-height: 25px; margin-top: 20px; font-weight: 600;}
.about-yw .imginf .tel-txt p span{ color: #69d1fc;}
.dtable{ padding: 0;}
.m-article,.m-page-2{ padding: 0 2%;}

.jr-list{ width: 100%; padding-top: 2rem;}
.jr-list li{ float: left;width: 100%; padding-bottom: 50px;}
.jr-list li .num{ width: 66px; height: 79px; line-height: 79px; text-align: center; font-size: 48px; color: white; background: url(../images/bg-03.jpg) no-repeat; background-size: cover;}
.jr-list li .list-t{ width: 70%;}

.newsList{ width: 100%;}
.newsList li .img{ width:18%; display: none;}
.newsList li .img a{ display:block;}
.newsList li .img a> img{ width:100px; height: 75px; display:block;}
.newsList li .listDl{ width: 100%;}
.newsList li .listDl dt > a{ width:100%; height:30px; line-height:30px; overflow:hidden; display:inline-block; font-size:1rem; color:#333;}
.newsList li .listDl dt > a:hover{ color:#1596c6;}
.newsList li .listDl dt .f-fr{ display: none;}
.newsList li .listDl dd{ font-size:14px; color:#777; padding-top:5px; line-height: 25px;}
.newsList li .listDl .info{ height: 50px; overflow: hidden;}

.news-zk-img{ width:100%;}
.news-zk-img > img{ width:100%; display:block;}
.news-zkList{ width:100%; overflow: hidden;}
.news-zkList ul{ width: 100%;}
.news-zkList li{ float:left; width:100%; border-bottom:1px solid #eee; padding:3% 0 3% 0; margin-right: 30px;}
.news-zkList li .listDl{ width:60%;}

.xf-box-3{ width: 100%; }
.xf-box-3 .bd{ border: 1px solid #e6e6e6; margin: 30px auto; padding: 2%;}
.xf-box-3 .bd li{ float: left; width: 100%;}
.xf-box-3 .bd li .img{ width: 100%;}
.xf-box-3 .bd li .img img{ width: 100%; display: block;}
.xf-box-3 .bd li .txt{ width: 100%; line-height: 75px; font-size: 20px; color: #333;}

.i-box-1{ width: 96%; height: auto; padding:0 2% 50px; background: url(../images/i-box-1-bg.jpg) no-repeat center top; background-size: cover; margin-top: -52px;}
.i-box-1 .bd{ width: 100%;overflow: hidden;}
.i-box-1 .bd li{ float: left; width: 99%; border: 1px solid #7d7d7d; min-height:auto; margin-top: 25px; padding-bottom: 15px;}
.i-box-1 .bd li:last-child{ border-right: 1px solid #7d7d7d;}
.i-box-1 .bd li .img{ width: 30%; margin: 15px auto 0;}
.i-box-1 .bd li .img img{ max-width: 100%; max-height: 100%; display: block;}
.i-box-1 .bd li dl{ width: 80%; margin: 15px auto 0; }
.i-box-1 .bd li dl dt{ font-size: 20px; line-height: 30px; height: auto;  color: #000; font-weight: 600; text-align: center; 
position: relative; margin-bottom: 15px; padding-bottom: 15px;}
.i-box-1 .bd li dl dt:after{ content: ''; width: 55px; height: 1px; background-color: #b5b5b5; position: absolute; left: 50%; bottom: 0; margin-left: -25px;}
.i-box-1 .bd li dl dd{ font-size: 14px; color: #333; line-height: 25px;}
.i-box-1 .bd li:nth-child(1)  dl dt{ line-height: 35px;}
.i-box-1 .bd li:nth-child(2)  dl dt{ line-height: 35px;}
.i-box-1 .bd li p{ text-align: center; display: ; padding-top: 10px;}
.i-box-1 .bd li p a{ border: 1px solid white; padding: 5px 20px; display: inline-block; color: white; border-radius: 15px; font-size: 14px;}
.i-box-1 .bd li .img-2{ width: 100%; display: none;}
.i-box-1 .bd li .img-2 img{ width: 100%; display: none;}
.i-box-1 .bd li:hover .img{ display: block;}
.i-box-1 .bd li:hover .img-2,
.i-box-1 .bd li:hover p{ display: none;}
.i-box-1 .bd li:hover{ color:white; background-color:initial; }
.i-box-1 .bd li:hover dl dt,
.i-box-1 .bd li:hover dl dd{ color: #000; }
.i-box-1 .bd li:hover dl dt:after{  content: ''; width: 55px; height: 1px; background-color: #b5b5b5; position: absolute; left: 50%; bottom: 0; margin-left: -25px;}
.i-box-1 .bd li .btnlink{ display: block;}



.i-box-2{ width: 96%; height: auto; padding:0 2% 50px; background: url(../images/i-box-2-bg.jpg) no-repeat center top; background-size:720px 100%;}
.i-box-2 .u-title h1{ color:white;}
.i-box-2 .u-title p{ color: #c8c8c8; width: 100%; margin: 0 auto; font-size: 14px;}
.i-box-2 .bd dl{ width: 100%;}
.i-box-2 .bd dl dt{ font-size: 26px; color: white;}
.i-box-2 .bd dl dd{ font-size: 14px; line-height: 25px;}


.i-box-3{ width: 96%; height: auto; padding:0 2% 50px; background: url(../images/i-box-3-bg.jpg) no-repeat center top; background-size: cover;}
.i-box-3 .u-title h1{ color:#333; font-size: 26px;}
.i-box-3 .u-title p{ color: #444;}
.i-box-3 .bd{ width: 100%; margin: 0 auto; overflow: hidden;}
.i-box-3 .bd ul{ width: 100%;}
.i-box-3 .bd li{ float: left; width: 100%; height: 140px; margin:0; margin-top: 25px; color: #bbb; background-color: #484f59;}
.i-box-3 .bd .rtxt{ width: 50%; padding-top: 20px;}

.i-box-4{ width: 96%; height: auto; padding:0 2% 50px; background: url(../images/i-box-4-bg.jpg) no-repeat center top; background-size: cover;}
.i-box-4 .u-title h1{ font-size: 26px;}
.i-box-4 .bd{ width: 100%;}
.shList-n{ width: 100%; display: none;}
.news-next{ width: 96%; background-color: white; padding: 2%;}
.news-right{ width: 100%;}
.news-tabTop{ text-align: center; width: 100%; font-size: 0;}
.news-tabTop a{ padding:10px 5px; margin: 0 7px; border-radius: 5px; border: 1px solid #029ed2; display: inline-block; font-size: 12px; color: #029ed2;}
.news-tabTop a.s-crt{ background-color: #029ed2; color: white;}
.news-left{ width: 100%;}
.news-left h1{ font-size: 22px; color: #222;}
.news-left h1 a{ font-size: 12px; display:inline-block; margin-top: 10px;}
.news-left-list{ width: 100%; padding-top: 10px;}
.news-left-list li{ width: 100%; border-bottom: 1px dashed #e7e7e7; padding: 15px 0;}
.news-left-list li:last-child{ border-bottom: 0;}
.news-left-list li a.f-fl{ width: 30%;}
.news-left-list li a.f-fl img{ width:100%; height: auto; display:block;}
.news-left-list li a.f-fr{width: 65%; height: 50px; overflow: hidden; font-size: 14px; color: #666; display: inline-block;  line-height: 25px;}
.news-left-list li a.f-fr:hover{ color: #1596c6;}
.news-tapbd .tabinfo{ width: 100%; padding-top: 15px;}
.news-tapbd .tabinfo h1 font{ color: #333; font-size: 14px; display: none;}
.m-tList li{ height:25px; line-height: 25px; border-top:1px dotted #e7e7e7; color:#333; font-size:13px; padding: 5px 0;}
.m-tList li a{overflow:hidden;width:50%;height:25px; line-height:25px;text-overflow:ellipsis;white-space:nowrap;color:#333; display: inline-block;}

.i-box-5{ width: 96%; height: auto; padding:0 2% 50px; background: url(../images/i-box-5-bg.jpg) no-repeat center top; background-size: cover;}
.i-box-5 .u-title h1{ color:white; font-size: 26px;}
.i-box-5 .u-title p{ color: #d6dcfe; width: 100%;}
.i-box-5 .bd{ width: 100%; margin: 0px auto 0;}
.i-box-5 .bd dl{ float:none; width: 100%; padding-top: 1rem;}
.i-box-5 .bd dl dt{ color: #11b8ff; font-size: 18px; position:initial; padding-bottom: 5px; text-indent: 0; background:none}
.i-box-5 .bd dl dt:after{ content: ''; width: 0px; height: 18px; background-color: #11b8ff; position: absolute; top: 5%; left: 22%;}
.i-box-5 .bd dl dd{ padding-left: 8%; color: white; color: #d6dcfe; line-height: 20px;}
.i-box-5 .bd dl.pa-1{ margin-top: 0;}
.i-box-5 .bd dl.pa-2{ margin-top: 0px;}
.i-box-5 .bd dl.pa-3{ margin-top: 0px;}
.i-box-5 .bd dl.pa-4{ margin-top: 0px;}
.i-box-5 .bd dl.pa-5{ margin-top: 0px;}
.i-box-5 .bd dl.pa-6{ margin-top: 0;} 


.i-box-6{ width: 100%;}
.i-box-6 .bd{ width: 100%; margin: 0 auto; padding: 45px 0;}
.i-box-6 .bd ul{ width: 100%; padding-left: 1%;}
.i-box-6 .bd li{ float: left; width: 19%; max-height: 70px; overflow: hidden; border-right: 1px dotted #ddd; display: inline-block;}
.i-box-6 .bd li a{ display: inline-block; width: 100%; overflow: hidden;}
.i-box-6 .bd li img{ display: block; max-width: 100%;
-webkit-transition: all 0s ease-out;
   -moz-transition: all 0s ease-out;
    -ms-transition: all 0s ease-out;
        transition: all 0s ease-out;}
.i-box-6 .bd li a:hover img{
-webkit-transform: scale(1);
   -moz-transform: scale(1);
    -ms-transform: scale(1);
        transform: scale(1);}

.i-box-6 .bd li:nth-child(1),
.i-box-6 .bd li:nth-child(2),
.i-box-6 .bd li:nth-child(3),
.i-box-6 .bd li:nth-child(4),
.i-box-6 .bd li:nth-child(5){border-bottom: 1px dotted #ddd;}
.i-box-6 .bd li:nth-child(5),
.i-box-6 .bd li:nth-child(10){ border-right: 0;}


.xd-box-1{ width:100%; background:url(../images/xd-box-1-bg.jpg) no-repeat; background-size: cover; position:relative;}
.xd-box-1 > h1{ text-align:center; color:#fff; font-size:18px; padding-top:10%; background:url(../images/bg-x.png) no-repeat center bottom;}
.xd-box-1 > h2{ text-align:center; color:#fff; font-size:14px; padding-top:2%;}                 
.xd-box-1 .list-text{ width:100%; height: 200px; position:initial; left:50%; top:0; margin-left:0; margin-top: 20px;}
.xd-box-1 li{ float:left; width:50%; height:120px; text-align:center; color:white; margin-top: 15px;}
.xd-box-1 li dt{ font-size:30px; font-style:italic; padding-top:20px;}
.xd-box-1 li dd{ font-size:14px; line-height:20px; padding-top:5px;}
.xd-box-2{ display: none;}


.xd-box-3{ width:100%; margin-top:200px;}
.xd-box-3 .bd{ width: 100%;}
.xd-box-3 .bd .box-list{ width: 100%;background-color: #39a6e2; margin-top: 35px;}
.xd-box-3 .bd .box-list .txt{ width: 35%; position: relative; display: none;}
.xd-box-3 .bd .box-list .txt .t{ font-size: 16px; color: white; text-align: center; line-height: 25px; position:absolute; top: 30px; left: 18%;}
.xd-box-3 .bd .box-list .list-r{ width: 96%; padding: 2%; background-color: #39a6e2;}

.xd-box-5{ width:100%; margin-top:35px;}
.xd-box-5 .bd .c-img{ width: 20%; padding-top: 65px; display: none;}
.xd-box-5 .bd .list-b{ width: 100%; padding-top: 25px;}
.xd-box-5 .bd .list-b li dl dt{ font-size: 16px; font-weight: 600; padding-bottom: 10px; color: #999;}


.xd-box-6{ width:100%; margin-top:35px;}
.xd-box-6 .bd{ width: 100%;}
.xd-box-6 .bd li{ float: left; width: 100%; padding: 40px 0 0;}
.xd-box-6 .bd li:last-child{ margin-left: 0;}
.xd-box-6 .bd li dl{ width: 80%;}

.xd-box-7 .bd li{ float: left; width: 90%; padding: 50px 5%; position: relative;}


.list-box{ width: 100%;}
.list-box .list-list{ width: 40%;}
.list-box .list-list dl:last-child{ border-bottom: 0;}
.list-box .list-list dl{ width: 100%; border-bottom: 3px solid #eee; padding-top: 30px;}
.list-box .list-list dl dt{ font-size: 14px; color: #10a6d0; font-weight: 600; padding-bottom: 15px;}
.list-box .list-list dl dd{ font-size: 12px; color: #999; padding-bottom: 10px;}
.list-box .list-list dl dd:last-child{ padding-bottom: 30px;}
.list-box .list-list.f-fr{ margin-top: 45px;}
.list-box .list-radius{ width: 20%; position: relative;}
.list-box .list-radius:after{ content: ''; width: 3px; height: 92%; background-color: #13b8e6; position: absolute; top: 40px; left: 50%; margin-left: -2px;}
.list-box .list-radius li{ text-align: center; position: relative; z-index: 9;}
.list-box .list-radius li span{ position: relative; width: 30px; height: 30px; line-height: 30px; border-radius: 50%; 
font-size: 14px; font-weight: 600; color: white; text-align: center; display: inline-block; background-color: #13b8e6; color: white;}
.list-box .list-radius li.left span:after{ content: ''; position: absolute; top: 25%; left: 110%;
border-style:dashed dashed dashed solid;border-color:transparent transparent transparent  #13b8e6;border-width:5px; width:0;height:0;}
.list-box .list-radius li.ringht span:after{ content: ''; position: absolute; top: 25%; left:-50%;
border-style:dashed solid dashed dashed; border-color:transparent #13b8e6 transparent  transparent;border-width:5px; width:0;height:0;}
.list-box .list-radius li:nth-child(1){margin-top: 30px;}
.list-box .list-radius li:nth-child(2){margin-top: 35px;}
.list-box .list-radius li:nth-child(3){ margin-top: 60px;}
.list-box .list-radius li:nth-child(4){ margin-top: 45px;}
.list-box .list-radius li:nth-child(5){ margin-top: 50px;}
.list-box .list-radius li:nth-child(6){ margin-top: 55px;}
.list-box .list-radius li:nth-child(7){ margin-top: 50px;}
.list-box .list-radius li:nth-child(8){ margin-top: 55px;}
.list-box .list-radius li:nth-child(9){ margin-top: 50px;}
.dtable p{ font-size: 17px; color: #333; line-height: 30px; width: 100%;}
.xf-box-2 .bd{ padding: 20px 0; line-height: 25px;}
}

/*440分辨率以下（小于479px）*/
@media screen and (max-width: 479px) {
/*public*/
.header{ display: none;}
.header-wap{ height: 56px; background:url(../images/h-wap-bg720.png) no-repeat center; display: block;}
.ins-wrap{ top: 0;}
.about{ padding: 20px 0;}
.m-ins-navbox{ display: block;}
.leftBody,.leftBody-1{ display: none;}
.footer{ padding-top: 20px;}
.footer > .m-wrap .topbar{ display: none;}
/*public end*/
.banner{ display: none;}
.wap-banner{ display: block;}

.about{ padding: 20px 0;}
.ringhtInfo{ width: 94%; padding: 3%;}
.about-yw{ width: 100%;}
.about-ceo{ padding-top: 40px;}
.about-ceo .img{float: none; width: 100%; text-align: center;}
.about-ceo .img img{ width: 100%; display: block;}
.about-ceo .txt{ float: none; width: 100%;}

.about-js{ padding-top: 40px;}
.about-js .img{ float: none; width: 100%;}
.about-js .img img{ width: 100%; display: block;}
.about-js .txt{ float: none; width: 100%; }
.about-js .txt dl dt{ padding-top: 20px;}
.about-js-img{ width: 100%; overflow: hidden;}
.about-js-img img{ display: block; width: 100%;}
.about-js-scroll{ display: none;}
.about-js-scroll-wap{ display: block;}

.about-qy-03{ padding-top: 38px;}
.about-qy-03 .fimg{ float: none; width: 100%;}
.about-qy-03 .fimg > img{max-width: 100%; height: auto; display: inline-block;}
.about-qy-03 .txtList{ width: 100%;}
.about-qy-03 .txtList .list{ float: none; width: 100%; padding-top: 30px; margin-top: 30px;}
.about-qy-03 .txtList .list dl{ width: 75%;}

.about-ser-03{ padding-top: 15px; background-color: white; width: 100%;}
.about-ser-03 h1{ padding-left: 2%; font-size: 20px; color: #333; line-height: 45px; border-bottom: 1px solid #000; position: relative;}
.about-ser-03 h1:after{ content: ''; width: 4px; height: 19px; background-color: #008bbc; position: absolute; top: 50%; left:0; margin-top: -9px;}
.about-ser-03 .img{ width: 100%; padding: 40px 0;}
.about-ser-03 .img img{ width: 100%; display: block;}

.about-yw .imginf{ width: 90%; padding: 5%; background: url(../images/imginf-bg.jpg) no-repeat;}
.about-yw .imginf .img-l{display: none;}
.about-yw .imginf .tel-txt{ float: none; width: 100%;}
.about-yw .imginf .tel-txt p{ font-size: 12px; color: white; line-height: 25px; margin-top: 20px; font-weight: 600;}
.about-yw .imginf .tel-txt p span{ color: #69d1fc;}



.dtable{ padding: 0;}
.m-article,.m-page-2{ padding: 0 2%;}

.jr-list{ width: 100%; padding-top: 2rem;}
.jr-list li{ float: left;width: 100%; padding-bottom: 50px;}
.jr-list li .num{ width: 66px; height: 79px; line-height: 79px; text-align: center; font-size: 48px; color: white; background: url(../images/bg-03.jpg) no-repeat; background-size: cover;}
.jr-list li .list-t{ width: 70%;}

.newsList{ width: 100%; }
.newsList li .img{ width:18%; display: none;}
.newsList li .img a{ display:block;}
.newsList li .img a> img{ width:100px; height: 75px; display:block;}
.newsList li .listDl{ width: 100%;}
.newsList li .listDl dt > a{ width:100%; height:30px; line-height:30px; overflow:hidden; display:inline-block; font-size:1rem; color:#333;}
.newsList li .listDl dt > a:hover{ color:#1596c6;}
.newsList li .listDl dt .f-fr{ display: none;}
.newsList li .listDl dd{ font-size:14px; color:#777; padding-top:5px; line-height: 25px;}
.newsList li .listDl .info{ height: 50px; overflow: hidden;}

.news-zk-img{ width:100%;}
.news-zk-img > img{ width:100%; display:block;}
.news-zkList{ width:100%; overflow: hidden;}
.news-zkList ul{ width: 100%;}
.news-zkList li{ float:left; width:100%; border-bottom:1px solid #eee; padding:5% 3% 0; margin-right: 30px;}
.news-zkList li .img{ display: none;}
.news-zkList li .listDl{ width:100%;}

.xf-box-3{ width: 100%; }
.xf-box-3 .bd{ border: 1px solid #e6e6e6; margin: 30px auto; padding: 2%;}
.xf-box-3 .bd li{ float: left; width: 100%;}
.xf-box-3 .bd li .img{ width: 100%;}
.xf-box-3 .bd li .img img{ width: 100%; display: block;}
.xf-box-3 .bd li .txt{ width: 100%; line-height: 75px; font-size: 20px; color: #333;}

.xf-box-6{ width: 100%;}
.xf-box-6 .bd{ border: 1px solid #e6e6e6; margin: 30px auto; padding: 2%;}
.xf-box-6 .bd li{ float: left; width: 100%;}
.xf-box-6 .bd li .img{ width: 100%;}
.xf-box-6 .bd li .img img{ width: 100%; display: block;}
.xf-box-6 .bd li .txt{ width: 100%; font-size: 20px; color: #333; line-height: 30px;}

.xf-box-8{ width: 100%; margin-top: 35px;}
.xf-box-8 .bd{ width: 100%;}
.xf-box-8 .bd li{ width: 100%; padding: 30px 0; border-bottom: 1px dashed #d5e8f7;}
.xf-box-8 .bd .txtNum{ border: 1px solid #39a6e2; font-size: 25px; color: #39a6e2; padding: 2%;}
.xf-box-8 .bd .t-list{ width: 80%;}
.xf-box-8 .bd .t-list dt{ font-size: 18px; color: #39a6e2; padding-bottom: 10px; position:relative;}
.xf-box-8 .bd .t-list dt:after{ content: ''; width: 25px; height: 1px; background-color: #39a6e2; position: absolute; bottom: 0; left: 0;}
.xf-box-8 .bd .t-list dd{ font-size: 14px; color: #333; line-height: 25px; padding-top: 10px;}


.i-box-1{ width: 94%; height: auto; padding:0 3% 50px; background: url(../images/i-box-1-bg.jpg) no-repeat center top; background-size: cover; margin-top: -52px;}
.i-box-1 .u-title h1{ font-size: 24px;}
.i-box-1 .bd{ width: 100%;overflow: hidden;}
.i-box-1 .bd li{ float: left; width: 99%; border: 1px solid #7d7d7d; min-height:auto; margin-top: 25px; padding-bottom: 15px;}
.i-box-1 .bd li:last-child{ border-right: 1px solid #7d7d7d;}
.i-box-1 .bd li .img{ width: 30%; margin: 15px auto 0;}
.i-box-1 .bd li .img img{ max-width: 100%; max-height: 100%; display: block;}
.i-box-1 .bd li dl{ width: 80%; margin: 15px auto 0; }
.i-box-1 .bd li dl dt{ font-size: 20px; line-height: 30px; height: auto;  color: #000; font-weight: 600; text-align: center; 
position: relative; margin-bottom: 15px; padding-bottom: 15px;}
.i-box-1 .bd li dl dt:after{ content: ''; width: 55px; height: 1px; background-color: #b5b5b5; position: absolute; left: 50%; bottom: 0; margin-left: -25px;}
.i-box-1 .bd li dl dd{ font-size: 14px; color: #333; line-height: 25px;}
.i-box-1 .bd li:nth-child(1)  dl dt{ line-height: 35px;}
.i-box-1 .bd li:nth-child(2)  dl dt{ line-height: 35px;}
.i-box-1 .bd li p{ text-align: center; display: none; padding-top: 10px;}
.i-box-1 .bd li p a{ border: 1px solid white; padding: 5px 20px; display: inline-block; color: white; border-radius: 15px; font-size: 14px;}
.i-box-1 .bd li .img-2{ width: 100%; display: none;}
.i-box-1 .bd li .img-2 img{ width: 100%; display: none;}
.i-box-1 .bd li:hover .img{ display: block;}
.i-box-1 .bd li:hover .img-2,
.i-box-1 .bd li:hover p{ display: none;}
.i-box-1 .bd li:hover{ color:white; background-color:initial; }
.i-box-1 .bd li:hover dl dt,
.i-box-1 .bd li:hover dl dd{ color: #000; }
.i-box-1 .bd li:hover dl dt:after{  content: ''; width: 55px; height: 1px; background-color: #b5b5b5; position: absolute; left: 50%; bottom: 0; margin-left: -25px;}
.i-box-1 .bd li .btnlink{ display: block;}

.i-box-2{ width: 94%; height: auto; padding:0 3% 50px; background: url(../images/i-box-2-bg.jpg) no-repeat center top; background-size:720px 100%;}
.i-box-2 .u-title h1{ color:white; font-size: 24px;}
.i-box-2 .u-title p{ color: #c8c8c8; width: 100%; margin: 0 auto; font-size: 14px;}
.i-box-2 .bd dl{ width: 100%;}
.i-box-2 .bd dl dt{ font-size: 23px; color: white;}
.i-box-2 .bd dl dd{ font-size: 14px; line-height: 25px;}


.i-box-3{width: 94%; height: auto; padding:0 3% 50px; background: url(../images/i-box-3-bg-wap.jpg) no-repeat center top; background-size: cover;}
.i-box-3 .u-title h1{ color:#333; font-size: 24px;}
.i-box-3 .u-title p{ color: #444;}
.i-box-3 .bd{ width: 100%; margin: 0 auto; overflow: hidden;}
.i-box-3 .bd ul{ width: 100%;}
.i-box-3 .bd li{ float: left; width: 100%; height: 140px; margin:0; margin-top: 25px; color: #bbb; background-color: #484f59;}
.i-box-3 .bd .rtxt{ width: 50%; padding-top: 20px;}

.i-box-4{ width: 94%; height: auto; padding:0 3% 50px; background: url(../images/i-box-4-bg-wap.jpg) no-repeat center top; background-size: cover;}
.i-box-4 .u-title h1{ font-size: 24px;}
.i-box-4 .bd{ width: 100%;}
.shList-n{ width: 100%; display: none;}
.news-next{ width: 96%; background-color: white; padding: 2%;}
.news-right{ width: 100%;}
.news-tabTop{ text-align: center; width: 100%; font-size: 0;}
.news-tabTop a{ padding:10px 5px; margin: 0 7px; border-radius: 5px; border: 1px solid #029ed2; display: inline-block; font-size: 12px; color: #029ed2;}
.news-tabTop a.s-crt{ background-color: #029ed2; color: white;}
.news-left{ width: 100%;}
.news-left h1{ font-size: 22px; color: #222;}
.news-left h1 a{ font-size: 12px; display:inline-block; margin-top: 10px;}
.news-left-list{ width: 100%; padding-top: 10px;}
.news-left-list li{ width: 100%; border-bottom: 1px dashed #e7e7e7; padding: 15px 0;}
.news-left-list li:last-child{ border-bottom: 0;}
.news-left-list li a.f-fl{ width: 30%;}
.news-left-list li a.f-fl img{ width:100%; height: auto; display:block;}
.news-left-list li a.f-fr{width: 65%; height: 50px; overflow: hidden; font-size: 14px; color: #666; display: inline-block;  line-height: 25px;}
.news-left-list li a.f-fr:hover{ color: #1596c6;}
.news-tapbd .tabinfo{ width: 100%; padding-top: 15px;}
.news-tapbd .tabinfo h1 font{ color: #333; font-size: 14px; display: none;}
.m-tList li{ height:25px; line-height: 25px; border-top:1px dotted #e7e7e7; color:#333; font-size:13px; padding: 5px 0;}
.m-tList li a{overflow:hidden;width:50%;height:25px; line-height:25px;text-overflow:ellipsis;white-space:nowrap;color:#333; display: inline-block;}

.i-box-5{ width: 94%; height: auto; padding:0 3% 50px; background: url(../images/i-box-5-bg-bg.jpg) no-repeat center top; background-size: cover;}
.i-box-5 .u-title h1{ color:white; font-size: 24px;}
.i-box-5 .u-title p{ color: #d6dcfe; width: 100%;}
.i-box-5 .bd{ width: 100%; margin: 0px auto 0;}
.i-box-5 .bd dl{ float:none; width: 100%; padding-top: 1rem;}
.i-box-5 .bd dl dt{ color: #11b8ff; font-size: 18px; position:initial; padding-bottom: 5px; text-indent: 0; background:none}
.i-box-5 .bd dl dt:after{ content: ''; width: 0px; height: 18px; background-color: #11b8ff; position: absolute; top: 5%; left: 22%;}
.i-box-5 .bd dl dd{ padding-left: 8%; color: white; color: #d6dcfe; line-height: 20px;}
.i-box-5 .bd dl.pa-1{ margin-top: 0;}
.i-box-5 .bd dl.pa-2{ margin-top: 0px;}
.i-box-5 .bd dl.pa-3{ margin-top: 0px;}
.i-box-5 .bd dl.pa-4{ margin-top: 0px;}
.i-box-5 .bd dl.pa-5{ margin-top: 0px;}
.i-box-5 .bd dl.pa-6{ margin-top: 0;} 

.i-box-6{ width: 94%; height: auto; padding:0 3% 50px; }
.i-box-6 .u-title h1{font-size: 24px;}
.i-box-6 .bd{ width: 100%; margin: 0 auto; padding: 45px 0; overflow: hidden;}
.i-box-6 .bd ul{ width: 100%;}
.i-box-6 .bd li{ float: left; width: 19%; max-height: 40px; overflow: hidden; border-right: 1px dotted #ddd; display: inline-block;}
.i-box-6 .bd li a{ display: inline-block; width: 100%; overflow: hidden;}
.i-box-6 .bd li img{ display: block; max-width: 100%;
-webkit-transition: all 0s ease-out;
   -moz-transition: all 0s ease-out;
    -ms-transition: all 0s ease-out;
        transition: all 0s ease-out;}
.i-box-6 .bd li a:hover img{
-webkit-transform: scale(1);
   -moz-transform: scale(1);
    -ms-transform: scale(1);
        transform: scale(1);}
.i-box-6 .bd li:nth-child(1),
.i-box-6 .bd li:nth-child(2),
.i-box-6 .bd li:nth-child(3),
.i-box-6 .bd li:nth-child(4),
.i-box-6 .bd li:nth-child(5){border-bottom: 1px dotted #ddd;}
.i-box-6 .bd li:nth-child(5),
.i-box-6 .bd li:nth-child(10){ border-right: 0;}

.xd-box-1{ width:100% ;background:url(../images/xd-box-1-bg.jpg) no-repeat; background-size: cover; position:relative;}
.xd-box-1 > h1{ text-align:center; color:#fff; font-size:18px; padding-top:10%; background:url(../images/bg-x.png) no-repeat center bottom;}
.xd-box-1 > h2{ text-align:center; color:#fff; font-size:14px; padding-top:2%;}                 
.xd-box-1 .list-text{ width:100%; height: 200px; position:initial; left:50%; top:0; margin-left:0; margin-top: 20px;}
.xd-box-1 li{ float:left; width:50%; height:120px; text-align:center; color:white; margin-top: 15px;}
.xd-box-1 li dt{ font-size:30px; font-style:italic; padding-top:20px;}
.xd-box-1 li dd{ font-size:14px; line-height:20px; padding-top:5px;}
.xd-box-2{ display: none;}

.xd-box-3{ width:100%; margin-top:200px;}
.xd-box-3 .bd{ width: 100%;}
.xd-box-3 .bd .box-list{ width: 100%;background-color: #39a6e2; margin-top: 35px;}
.xd-box-3 .bd .box-list .txt{ width: 35%; position: relative; display: none;}
.xd-box-3 .bd .box-list .txt .t{ font-size: 16px; color: white; text-align: center; line-height: 25px; position:absolute; top: 30px; left: 18%;}
.xd-box-3 .bd .box-list .list-r{ width: 96%; padding: 2%; background-color: #39a6e2;}
.xd-box-3 .bd .box-list .list-r li{ padding-left: 15%;}

.xd-box-5{ width:100%; margin-top:35px; }
.xd-box-5 .bd .c-img{ width: 20%; padding-top: 65px; display: none;}
.xd-box-5 .bd .list-b{ width: 100%; padding-top: 25px;}
.xd-box-5 .bd .list-b li dl dt{ font-size: 19px; font-weight: 600; padding-bottom: 10px; color: #999;}

.xd-box-6{ width:100%; margin-top:35px;}
.xd-box-6 .bd{ width: 100%;}
.xd-box-6 .bd li{ float: left; width: 100%; padding: 40px 0 0;}
.xd-box-6 .bd li:last-child{ margin-left: 0;}
.xd-box-6 .bd li dl{ width: 80%;}

.xd-box-7 .bd li{ float: left; width: 90%; padding: 50px 5%; position: relative;}
.dtable p{ font-size: 17px; color: #333; line-height: 30px; width: 100%;}

.list-box{ width: 100%;}
.list-box .list-list{ width: 40%;}
.list-box .list-list dl:last-child{ border-bottom: 0;}
.list-box .list-list dl{ width: 100%; border-bottom: 3px solid #eee; padding-top: 30px;}
.list-box .list-list dl dt{ font-size: 14px; color: #10a6d0; font-weight: 600; padding-bottom: 15px;}
.list-box .list-list dl dd{ font-size: 12px; color: #999; padding-bottom: 10px;}
.list-box .list-list dl dd:last-child{ padding-bottom: 30px;}
.list-box .list-list.f-fr{ margin-top: 45px;}
.list-box .list-radius{ width: 20%; position: relative;}
.list-box .list-radius:after{ content: ''; width: 3px; height: 92%; background-color: #13b8e6; position: absolute; top: 40px; left: 50%; margin-left: -2px;}
.list-box .list-radius li{ text-align: center; position: relative; z-index: 9;}
.list-box .list-radius li span{ position: relative; width: 30px; height: 30px; line-height: 30px; border-radius: 50%; 
font-size: 14px; font-weight: 600; color: white; text-align: center; display: inline-block; background-color: #13b8e6; color: white;}
.list-box .list-radius li.left span:after{ content: ''; position: absolute; top: 25%; left: 110%;
border-style:dashed dashed dashed solid;border-color:transparent transparent transparent  #13b8e6;border-width:5px; width:0;height:0;}
.list-box .list-radius li.ringht span:after{ content: ''; position: absolute; top: 25%; left:-50%;
border-style:dashed solid dashed dashed; border-color:transparent #13b8e6 transparent  transparent;border-width:5px; width:0;height:0;}
.list-box .list-radius li:nth-child(1){margin-top: 30px;}
.list-box .list-radius li:nth-child(2){margin-top: 35px;}
.list-box .list-radius li:nth-child(3){ margin-top: 60px;}
.list-box .list-radius li:nth-child(4){ margin-top: 85px;}
.list-box .list-radius li:nth-child(5){ margin-top: 60px;}
.list-box .list-radius li:nth-child(6){ margin-top: 55px;}
.list-box .list-radius li:nth-child(7){ margin-top: 50px;}
.list-box .list-radius li:nth-child(8){ margin-top: 50px;}
.list-box .list-radius li:nth-child(9){ margin-top: 50px;}

.xf-box-2 .bd{ padding: 20px 0; line-height: 25px;}


}
